*
  font-family: -apple-system, 'Microsoft Yahei';
  
body
  background: #000;
  padding-top: 10px;

.f-fl
  float: left;

.f-fr
  float: right;

.f-clr
  clear: both;

.f-tc
  text-align: center;

.f-bold
  font-weight: bold;

.f-blo {
	display: block;
}

.f-center {
	margin: 0 auto;
}